/* Tout le contenu est centré sur une largeur de 800 pixels */

nav, header, section, footer {
    width: 800px;
    margin: 0 auto;
}

/* ----- MENU DE NAVIGATION ----- */

nav a {
    display: inline-block;
    width:185px;
    height:50px;
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    line-height: 50px;
    color: #00BEB7;
    border: 1px solid #00BEB7;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888888;
    margin: 0px 5px;
}

nav a:hover {
    background-color: #00BEB7;
    color: white;
}

.active {
    font-weight: bold;
}

/* ----- ENTETE ----- */

header h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Arial;
    color: #00BEB7;
}

/* ----- SECTION ----- */

/* ----- SECTION : Accueil ----- */

.au-centre {
    text-align: center;
}

#bienvenue {
    margin-bottom: 50px;
}

#bienvenue a {
    display: block;
    width: 231px;
    margin: 0 auto;
}

#bienvenue strong a {
    display: inline;
    text-decoration: none;
    color: black;
}

#bienvenue strong a:hover {
    text-decoration: underline;
    color: #00BEB7;
}

#choix {
    width: 756px;
    height: 185px;
    margin: 0 auto;
}

.bloc {
    float:left;
    border: 1px solid #00BEB7;
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
    margin: 0 15px;
    height: 165px;
    box-shadow: 5px 5px 10px #888888;
    transition: transform .4s;
}

.bloc:hover {
    transform: scale(1.1);
}

.bloc h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.bloc h3 a {
    text-decoration: none;
    color: black;
}

.bloc a img {
    display: block;
    width: 200px;
    height: auto;
}

/* ----- SECTION : Je me présente ----- */

#maphoto {
    float: left;
    width: 380px;
    height: 380px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#mapresentation {
    text-align: justify;
}

/* ----- SECTION : Aventure digitale ----- */

section h2 {
    color: #00BEB7;
    text-align: center;
}

#chapitres {
    width:700px;
    height: 350px;
    margin: 0 auto;
}

#chapitres img {
    display: block;
    width: 350px;
    float: left;
}

#chapitres ul {
    list-style: none;
    margin-top: 40px;
    padding-top: 40px;
}

#chapitres ul li {
    text-indent: 50px;
}

#chapitres ul li a {
    text-decoration: none;
    color: #00BEB7;
    font-family: Arial;
    font-size: 150%;
    display: block;
    height:40px;
    line-height: 40px;
}

#chapitres ul li a:hover {
    font-weight: bold;
}

.top {
    text-align: right;
    border-bottom: 2px solid #00BEB7;
}

.top a {
    text-decoration: none;
    color: #00BEB7;
    text-transform: uppercase;
}

.aventure h3 {
    width: 200px;
    float: left;
    color: transparent;
}

.aventure p {
    padding-left: 200px;
}

.aventure ul {
    padding-left: 220px;
}

#formation {
    background-image: url(/images/formation.jpg);
    background-repeat: no-repeat;
}

#objectifs {
    background-image: url(/images/objectifs.png);
    background-repeat: no-repeat;
}

#acces {
    background-image: url(/images/acces.png);
    background-repeat: no-repeat;
}

#contenu {
    background-image: url(/images/contenu.png);
    background-repeat: no-repeat;
}

#tests {
    background-image: url(/images/tests.jpg);
    background-repeat: no-repeat;
}

#lieu {
    background-image: url(/images/lieu.png);
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 30px;
}

#contrat {
    background-image: url(/images/contrat.png);
    background-repeat: no-repeat;
}

/* ----- SECTION : Mes réalisations ----- */

.realisation img {
    display: inline-block;
    width: 240px;
    height: auto;
    margin: 0 10px;
    border: 1px solid lightgrey;
}

.realisation video {
    width: 360px;
    height: auto;
    margin: 0 15px 0 20px;
}

/* ----FORMULAIRE ----- */ 

#formulaire h1{
    text-align: center;
    padding-top: 20px;
    color: #00BEB7;
    font-size: 50px;
}

form{
    text-align: center;
    width : 60%;
    padding: 5px;
    margin: 10px auto;
    border: 2px solid #00BEB7;
    border-radius: 13px;
}
label{
    color:#00BEB7;
    display: inline-block;
    width: 160px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    font-size: x-large;
    font-weight: bold;
    
}

input,textarea{
    width: 650px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #999;
    font-size: medium;
}

#button{
    margin-top: 1em;
    padding: 12px;
}
 button{
    color: #00BEB7;
    padding: 15px;
    font-size: x-large;
    font-weight: bold;
}
/*------FORMULAIRE RECU---*/ 
#traitement h1{
    text-align: center;
    padding-top: 20px;
    color: #00BEB7;
    font-size: 50px;
}

#traitement h3,p{
    text-align: center;

}

#traitement p{
    font-size: large;
}

.reponse{
    margin: 10px auto;
    text-align: left;
    border: 2px solid #00BEB7; 
    border-radius: 15px;
    padding: 12px;
    width: 700px;
}

#liens{
    text-align: center;
    margin: 20px auto;
    padding: 15px;
}

#liens button{
    margin: 0 150px;
}
#liens a{

    width: 170px;
    text-decoration: none;
    color: #00BEB7;
    font-size: medium;
    
}

/* ----- FOOTER ----- */

footer {
    clear:both;
    height: 65px;
    margin-top: 50px;
}



#partenaires {
    width: 640px;
    height: 64px;
    float: left;
}

#copyright {
    width: 150px;
    height: 44px;
    float: right;
}

#copyright p {
    font-family: Arial;
    font-size: 18px;
    height:64px;
    line-height: 44px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    color: #00BEB7;
}