<%- include('header'); -%>

        <header>
            <h1><%= titre %></h1>
        </header>
        <section>
            <h2>Une erreur s'est produite !</h2>
            <h2><%= msg %></h2>
        </section>

<%- include('footer'); -%>