<footer>
    <div id="partenaires">
        <img src="/images/partners1.png" />
        <img src="/images/partners2.png" />
    </div>
    <div id="copyright">
        <p>&copy; CF2m - 2020</p>
    </div>
</footer>
<script src="/lightbox/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>