<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title><%= titre %></title>
        <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
        <link type="text/css" href="/lightbox/css/lightbox.min.css" rel="stylesheet"/>
    </head>
    <body>
        <nav>
            <a href="/" >Accueil</a>
            <a href="/presentation">Je me présente</a>
            <a href="/aventure">Aventure Digitale</a>
            <a href="/realisations">Mes réalisations</a>
        </nav>
        
        